<div class="well" style="margin-top:100px">

        <!-- Text input-->
        <form class="form-horizontal" action=" " method="post" id="contact_form">

            <div class="form-group">
                <label class="col-md-4 control-label">Username</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input name="user_name" id="username" placeholder="Username" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Password</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input name="user_password" id="password" placeholder="Password" class="form-control" type="password">
                    </div>
                </div>
            </div>
        </form>
        <!-- Button -->
        <div style="padding-left:280px">
            <input type="submit" id="btnRegister" value="Register" class="btn btn-warning" />
            -or-
            <input type="button" id="btnlogin" value="Login" class="btn btn-primary" />
        </div>
</div>